/* Selector {
    Property: value;
} */

body {
    background-image: url(shore.jpg);
    background-size: cover;
}

h2 {
    color: #2f0202;
    text-align: center;
    border: 5px solid #AA3939;
    cursor: pointer;
}

p {
    color: #550000;
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #801515;
}

img{
    float: left;
}

footer{
    clear: both;
    text-align: center;
}

li{
    list-style: none;
    display: inline-block;
}

.webtext{
    border: 5px dashed green;
}